# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBubfyNnmO78DLCLylBt3IlSqnypjb4EAU
VITE_FIREBASE_AUTH_DOMAIN=studysphere-f22b4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=studysphere-f22b4
VITE_FIREBASE_STORAGE_BUCKET=studysphere-f22b4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1060229527206
VITE_FIREBASE_APP_ID=1:1060229527206:web:df73bcd60689c07442e667
VITE_FIREBASE_MEASUREMENT_ID=G-CF2H8G7EYZ
